@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #180083;
  --secondary-color: #1954ac;

  --html-color: #e34f26;
  --css-color: #1572b6;
  --javascript-color: #f7df1e;
  --react-color: #61dafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #fff;
  background-color: var(--primary-color);
  transition: background-color 300ms;
}

body:has(.moon.active) {
  --primary-color: #08002c;
}

.moon,
.arrow-up {
  width: 3rem;
  padding: 0.5rem;
  border: 0.15rem solid transparent;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  position: fixed;
  z-index: 2;
  cursor: pointer;
}

.moon:hover,
.arrow-up:hover {
  border-color: #fff;
}

.moon {
  fill: transparent;
  top: 0.5rem;
  right: 0.5rem;
  transition: border 300ms;
}

.moon.active {
  fill: #fff;
  border-color: #fff;
}

.arrow-up {
  bottom: 0.5rem;
  right: 0.5rem;
  transform: scale(0);
  transition: transform 300ms, opacity 300ms, border 300ms;
  opacity: 0;
}

.arrow-up.active {
  transform: scale(1);
  opacity: 1;
}

.main__ctn {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main__ctn::after {
  content: "";
  position: absolute;
  bottom: 2rem;
  border-top: 3rem solid #fff;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  animation: 3s ease-in-out flecha infinite;
}

@keyframes flecha {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.h1 {
  font-size: 12em;
  font-weight: 200;
  letter-spacing: 0.5rem;
}

.h2 {
  font-size: 3em;
  font-weight: 200;
  letter-spacing: 0.3rem;
}

.h1,
.h2 {
  line-height: 1.1em;
  text-align: center;
}

.h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: 200;
  text-align: center;
}

.section {
  margin: auto;
  max-width: 90vw;
}

.social__ctn {
  height: 2rem;
  margin: 6rem 0;
  padding: 0 2rem;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.social__ctn .a {
  display: block;
  text-decoration: none;
  transition: transform 300ms;
}

.social__ctn .a:hover {
  transform: scale(1.05);
}

.social__ctn .svg {
  width: 6rem;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
}

.social__ctn .img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  background-color: #fff;
  border-radius: 50%;
}

.linkedin {
  fill: #0a66c2;
}

.github {
  fill: #181717;
}

.aboutme__ctn {
  max-width: 1000px;
  text-align: center;
}

.aboutme__ctn .p {
  margin: 1rem 0;
  text-align: center;
  letter-spacing: 0.1rem;
}

.skills__ctn {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  text-align: center;
  gap: 1rem;
}

.skills__ctn .li .svg {
  width: 5rem;
}

.html {
  fill: var(--html-color);
}

.css {
  fill: var(--css-color);
}

.javascript {
  fill: var(--javascript-color);
}

.react {
  fill: var(--react-color);
}

.projects__ctn {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.projects__ctn .li {
  padding-bottom: 5rem;
  border-bottom: 0.1rem solid var(--secondary-color);
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.projects__ctn .li:nth-child(2),
.projects__ctn .li:nth-child(4),
.projects__ctn .li:nth-child(6) {
  grid-template-columns: 1fr 2fr;
}

.projects__ctn .li .img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.projects__ctn .li:nth-child(2) .img,
.projects__ctn .li:nth-child(4) .img,
.projects__ctn .li:nth-child(6) .img {
  order: 1;
}

.projects__ctn .li .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.projects__ctn .li .article .title {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.projects__ctn .li .article .description {
  max-height: 10rem;
  margin: 2rem 0;
  overflow-y: auto;
}

.projects__ctn .li .article .a {
  width: 100%;
  height: 100%;
  text-decoration: transparent;
  position: relative;
  display: inline-block;
}

.projects__ctn .li .article .a::before,
.projects__ctn .li .article .a::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    45deg,
    #f00,
    var(--primary-color),
    var(--primary-color),
    #0f0
  );
  transition: inset 300ms;
}

.projects__ctn .li .article .a:hover::before {
  inset: -3px;
}

.projects__ctn .li .article .a:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.projects__ctn .li .article .a .span {
  width: inherit;
  height: inherit;
  padding: 1rem;
  color: #fff;
  background-color: var(--secondary-color);
  font-size: 0.8em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.projects__ctn .li .article .a .span::before {
  content: "";
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.075);
  position: absolute;
  top: 0;
  left: -150%;
  transform: skew(25deg);
  transition: left 300ms;
}

.projects__ctn .li .article .a:hover .span::before {
  left: -50%;
}

.projects__ctn .li:has(.errorText) {
  grid-template-columns: 1fr;
}

.errorText {
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  animation: animateError 3s linear infinite;
}

@keyframes animateError {
  0% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: var(--primary-color);
  }
}

.footer {
  margin-top: 5rem;
  padding: 1rem 0;
  background-color: #202020;
  text-align: center;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 0.2rem;
}

@media (max-width: 768px) {
  .h1 {
    font-size: 8em;
  }

  .projects__ctn {
    gap: 2rem;
  }

  .projects__ctn .li {
    padding-bottom: 2rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .projects__ctn .li:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .projects__ctn .li:nth-child(2) .img {
    order: 0;
  }

  .projects__ctn .li .article .title {
    font-size: 1.5em;
  }

  .projects__ctn .li .article .description {
    margin: 1rem 0;
  }

  .footer {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .h1 {
    font-size: 6em;
  }
}

@media (max-width: 500px) {
  .main__ctn {
    width: 100%;
    height: auto;
  }

  .main__ctn::after {
    display: none;
    bottom: -1.5rem;
    border-top: 2rem solid #fff;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
  }

  .h1 {
    margin: 2rem;
    font-size: 3em;
    letter-spacing: 0.5rem;
  }

  .h2 {
    padding-top: 1rem;
    font-size: 1.5em;
    letter-spacing: 0.1rem;
  }

  .social__ctn {
    height: 1rem;
    padding: 0 1rem;
    gap: 0.5rem;
  }

  .social__ctn .svg {
    padding: 0.2rem;
    width: 3rem;
  }

  .social__ctn .img {
    width: 6rem;
    height: 6rem;
  }

  .aboutme__ctn .p {
    margin: 1rem;
  }

  .projects__ctn {
    gap: 1rem;
  }

  .projects__ctn .li {
    padding-bottom: 1rem;
  }

  .footer {
    margin-top: 1rem;
  }
}
