---
const { title } = Astro.props
---

<section>
	<h3>{title}</h3>
	<slot />
</section>

<style>

	section {
		width: 100%;
  	max-width: 90vw;
		margin: auto;
	}

	h3 {
		margin-top: 3rem;
  	margin-bottom: 1rem;
  	font-size: 2em;
  	font-weight: 200;
  	text-align: center;
	}
</style>